* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
}

html,
body,
#root,
.App {
	height: 100%;
}

.App {
	display: flex;
	flex-direction: column;
}

main {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: stretch;
	width: 100%;
	height: 100%;
	padding: 70px 0 0;
	flex: 1;

	aside {
		width: 20%;
		min-width: 210px;
		height: 100%;
	}

	.content {
		width: 80%;
		height: 100%;
		overflow-y: auto;
	}
}

a,
button {
	background: transparent;
	color: inherit;
	text-decoration: none;
	border: 0;
	outline: none;
	cursor: pointer;
}

input {
	outline: 0;
}

.errorMessage {
	font-size: 14px;
	color: #e55a57;
	margin: 50px 0 0 10%;
}
